.Result-body {
    /* width: 100%; */
    background-color: #F5F5F5;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result-inner {
    background-color: #FFFFFF;
    width: 80vw;
    min-height: 50vh;
    margin-top: 50px;
}

.send-result {
    /* width: 80%; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.download {
    margin-right: 50px;
}

.hr {
    /* width: 10px; */
    height: 150px;
    background-color: black;
}

.email {
    height: 110px;
    margin-left: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* completion animation */
#completion {
    width: 150px;
    height: 150px;
    margin: auto;
    display: block;
}

.st1 {
    fill: #2856A0;
}

.st2 {
    fill: #FFFFFF;
}

@keyframes hideshow {
    0% {
        opacity: 0.2;
    }

    10% {
        opacity: 0.2;
    }

    15% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

#cirkel {
    animation: hideshow 0.4s ease;
}

#check {
    animation: hideshow 0.4s ease;
}

@keyframes hideshow {
    0% {
        transform: scale(0.2);
        transform-origin: initial;

    }

    100% {
        transform: scale(1.0);
        transform-origin: initial;
    }
}

@keyframes draaien {
    0% {
        transform: rotate(40deg);
        transform-origin: initial;

    }

    100% {
        transform: scale(0deg);
        transform-origin: initial;
    }
}

#check {
    animation: draaien 0.8s ease;
}


@keyframes transparant {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;
    }
}

#check {
    animation: transparant 2s;
}